- name: Create local storage directory
  file:
    path: /k8s/storage
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Create /etc/rancher/k3s directory
  file:
    path: /etc/rancher/k3s
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Install K3S Controlplane
  include_tasks: controlplane.yaml
  when: "'controlplane' in group_names"

- name: Install K3S Nodes
  include_tasks: node.yaml
  when: "'node' in group_names"
