---
- name: Ensure hostname set
  hostname:
    name: "{{ inventory_hostname }}"
  when: not inventory_hostname is match('(\d{1,3}\.){3}\d{1,3}')
  register: hostname
  tags: hostname

- name: Copy over /etc/hosts file
  template:
    src: templates/etc/hosts.j2
    dest: /etc/hosts
    owner: root
    group: root
    mode: 0644

- name: Update Cloud Config Hostname
  lineinfile:
    path: /etc/cloud/cloud.cfg
    line: "preserve_hostname: true"

- name: Set timezone to UTC
  timezone:
    name: UTC
  register: timezone
