---
- hosts: k3s_cluster
  serial: "50%"
  gather_facts: yes
  become: yes
  roles:
    - { role: system, tags: ["system"] }
    - { role: raspberrypi, tags: ["raspberrypi"] }

- hosts: controlplane
  serial: "50%"
  strategy: free
  become: yes
  roles:
    - { role: k3s, tags: ["controlplane"] }

- hosts: node
  serial: "50%"
  strategy: free
  become: yes
  roles:
    - { role: k3s, tags: ["node"] }
