write-kubeconfig: "/etc/rancher/k3s/kubeconfig.yaml"
write-kubeconfig-mode: "0644"
default-local-storage-path: "/k8s/storage"
cluster-domain: "thewrightlife.world"
disable:
  - "servicelb"
  - "traefik"
